{{#if (not loggedIn)}}
<h2 class="mt-4 text-center">You need to log in to see your dashboard.</h2>
{{else}}
{{/if}}
<h2 class="mt-4 text-center">Welcome back, {{user.username}}! Your Dashboard:</h2>



<div class="container">
  <section id="blogposts" class="row">
    {{#each posts}}
    <div class="postItem col-md-12 mb-4">
      <div class="card">
        <div class="card-body">
          <h1>{{title}}</h1>
          <h6 class="card-subtitle text-muted">Author: {{User.username}}</h6>
          <p class="card-text">{{content}}</p>
          <a href='/dashboard/edit/{{id}}'><button class="btn btn-warning">Edit</button></a>
          <button class="delete-post btn btn-danger" type="button" data-id="{{id}}">Delete</button>
        </div>
      </div>
    </div>
    {{/each}}
  </section>
</div>

<footer class="text-center mt-5">
  <p>&copy; 2023 Tech Info To You</p>
</footer>

<script src="/js/dashboard.js"></script>