{{#if (not loggedIn)}}
<h2 class="mt-4 text-center">You need to log in to see your dashboard.</h2>
{{else}}
{{/if}}
<h2 class="mt-4 text-center">Welcome back, {{user.username}}! Your Dashboard:</h2>

<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Tech Info To You</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/posts/newpost">Post</a>
      </li>
      <li class="nav-item">
        <form action="http://localhost:3001/api/users/logout" method="POST">
          <button type="submit" class="nav-link btn btn-link">Logout</button>
        </form>
      </li>
    </ul>
  </div>
</nav>
<!-- End of Navigation bar -->

<div class="container">
  <section id="blogposts" class="row">
    {{#each posts}}
    <div class="postItem col-md-12 mb-4">
      <div class="card">
        <div class="card-body">
          <h1>{{title}}</h1>
          <h6 class="card-subtitle text-muted">Author: {{User.username}}</h6>
          <p class="card-text">{{content}}</p>
          <a href='/dashboard/edit/{{id}}'><button class="btn btn-warning">Edit</button></a>
          <button class="delete-post btn btn-danger" type="button" data-id="{{id}}">Delete</button>
        </div>
      </div>
    </div>
    {{/each}}
  </section>
</div>

<footer class="text-center mt-5">
  <p>&copy; 2023 Tech Info To You</p>
</footer>

<script src="/js/dashboard.js"></script>