<h2>Edit Post</h2>

<form id="edit-post-form" action="/api/posts/{{post.id}}" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" value="{{post.title}}" required>
  <br>
  <label for="content">Content:</label>
  <textarea id="content" name="content" rows="4" cols="50" required>{{post.content}}</textarea>
  <br>
  <button type="submit">Update Post</button>
</form>

<h2>Comments</h2>
<section id="comments">
  {{#each post.Comments}}
  <div class="commentItem">
    <h6 class="commentAuthor">{{User.username}}</h6>
    <p class="commentText">{{content}}</p>
  </div>
  {{/each}}
</section>

<h2>Add Comment</h2>
<form id="add-comment-form" action="/api/comments" method="POST">
  <input type="hidden" name="post_id" value="{{post.id}}">
  <label for="content">Comment:</label>
  <textarea id="content" name="content" rows="4" cols="50" required></textarea>
  <br>
  <button type="submit">Add Comment</button>
</form>