<section id="blogpost">
  
  <div class="postItem col-md-12">
    <a href='/post/{{id}}'>
      <div class="card">
        <div class="card-body">
          <h1>{{title}}</h1>
          <h6 class="card-subtitle text-muted">Author: {{User.username}}</h6>
          <p class="card-text">{{content}}</p>
          <a href="/api/comment/{{id}}"><button>Comment</button></a>
          <p class="timestamp">{{created_at}}</p>
        </div>
      </div>
    </a>
    <section id="comments">
  <h2>Comments:</h2>
    <ul>
        {{#each Comments}}
        <li>
            <p>{{content}}</p>
            <p>Author: {{User.username}}</p>
            <p>Posted on: {{created_at}}</p>
        </li>
        {{/each}}
    </ul>

    {{#if logged_in}}
    <!-- Add comment form or any other authenticated user functionality -->
    {{/if}}
</section>
  </div>
  
</section>